body {
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.en-tête {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-content: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 25px;
}

.Menu {
    display: flex;
    flex-direction: row;
    gap: 25px
}

button {
    background-color: black;
    color: aliceblue;
    border-radius: 30px;
}

.Accueil {
    outline: none;
    border-left-color: blue;
    border-top-color: blue;
    border-bottom-color: aliceblue;
    border-right-color: aliceblue;

}

.CV {
    outline: none;
    border-left-color: yellow;
    border-top-color: yellow;
    border-bottom-color: black;
    border-right-color: black;
}

.Mes_Project {
    outline: none;
    border-left-color: aqua;
    border-top-color: aqua;
    border-bottom-color: yellow;
    border-right-color: yellow;
    animation-name: spiral;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* .Mes_Project::after {
    outline: none;
    border-right-color: aqua;
    border-bottom-color: aqua;
    border-top-color: yellow;
    border-left-color: yellow;
    animation-duration: 1s;
} */

.Mes_Project::hover {
    outline: none;
    border-right-color: aqua;
    border-bottom-color: aqua;
    border-top-color: yellow;
    border-left-color: yellow;
    animation-duration: 1s;
}

.Compétences {
    outline: none;
    border-left-color: aqua;
    border-top-color: aqua;
    border-bottom-color: yellow;
    border-right-color: yellow;
}

.Stage {
    outline: none;
    border-left-color: blue;
    border-top-color: blue;
    border-bottom-color: red;
    border-right-color: red;
}

.Veilles_techno {
    outline: none;
    border-left-color: green;
    border-top-color: green;
    border-bottom-color: orange;
    border-right-color: orange;
}

.presentation {
    display: flex;
    flex-direction: column;

}

.img-text {
    display: flex;
}

.text-presentation {
    display: flex;
}

.ligne {
    display: flex;
    align-self: center;
    width: 55%;
    color: red;
    margin: 2rem 0 2rem 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.first-child {
    display: flex;
    flex-direction: row;
}

.devweb {
    display: flex;
    flex-direction: row;
}
