body {
    background-color: black;

}
.titles {
    color: aliceblue;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: yellow; 
}
.helldiver {
    display: flex;
    opacity: 1;
    justify-content: center;
    border-radius: 20px;
}

.welcome {
    border-radius: 20px;
}
.page1 {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    background-color: black;
    align-items: center;
    
}

.page1 a {
    color: aliceblue;
}

.page2 a {
    color: aliceblue;
}